@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: ;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

/* S R O L L   A N I M A T I O N */

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

li, a, button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

/* N A V I G A T I O N    B A R */

header {
  visibility: hidden;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3%;
  padding-left: 14px;
} 

.logo {
  cursor: pointer;
  width: 170px;
  height: 80px;
}

.nav_links {
  list-style: none;
  text-decoration:none;
}

.nav_links li {
  display:inline-block;
  padding: 0px 20px;
}

.nav_links li a  {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover  {
  color: #835f54;
}

button {
  padding: 9px 25px;
  background-color: #835f54;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

button:hover {
  background-color: #64483f;
}

/* V I D E O   S T Y L E */

.video_container {
  position: relative;
  width:100%;
}

.video_container video {
  height: 837px;
}

.video_container .learnMoreBtn {
  position:absolute;
  top: 70%;
  left: 45%;
  transform: translate(-50%, -50%)
  border: white solid 2px;
  background-color: rgba(0, 0, 0, 0.0001);
  border: 2px solid #ffffff;
  padding: 12px 27px;
  visibility: hidden;
  font-size: 20px;
}

.video_container .learnMoreBtn:hover {
  background-color: rgba(131, 95, 84, 0.5);
}

video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-cover video {
  object-fit: cover;
}

/* P A G E   S E C T I O N I N G */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

section h1 {
  font-size: 4rem;
  color: white;
}

section p {
  font-size: 1.5rem;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}

/* W H A T   I S   C H A U P A D I */

section#chaupadi {
  background: url('assets/bg6.jpg') no-repeat center center/cover;;
}

.chaupadi-container {
  padding-top: 20px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  text-align: right;
}

.image {  
  height: 500px;
  width: 300px;
}

/* W H A T   D O   W E   D O ? */

section#about {
  background: url('assets/bg2.jpg') no-repeat center center/cover;;
}

.card-container {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  border-style: dotted;
  border-color: white;
  width: 220px;
  height: 400px;
  margin: 25px;
  justify-content: center;
  align-items: center;
  border-radius:10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.card-image {
  height: 100px;
  width: 100px;;
  margin-top: 7px;
  border-radius: 50%;
  background-size: cover;
}

.card-text {
  font-size: 14px;
  width: 210px;
  margin: 0;
}

.card-1 {
  background-image: url('assets/pad2.png');
}

.card-2 {
  background-image: url('assets/campaign.png');
}

.card-3 {
  background-image: url('assets/education.png');
}

/* C O N T A C T   U S */
section#contact {
  background: url('assets/bg1.jpg') no-repeat center center/cover;;
}

h3 {
  color: white;
}

.contact-p {
  font-size: 14px;
  padding-bottom: 4px;
  text-shadow: 2px 2px #878282;
}

.contact-container{
  width:100%;
  height:390px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-contact {
  width: 360px;
  display: block;
  margin: 15px auto;
  padding: 12px 20px;
  background: none;
  border-radius: 5px;
  border:1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}

.input-contact::placeholder {
  color: #ffffff;
  opacity: 1; 
}

.input-contact:focus {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

/* D O N A T E   U S */
section#donate {
  background: url('assets/bg4.jpg') no-repeat center center/cover;;
}

.share {
  padding-top: 35px;
}

.shareLinks {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

#donateOpen {
  margin-top: 10px;
  border: white solid 2px;
  background-color: rgba(0, 0, 0, 0.0001);
  border: 2px solid #ffffff;
  padding: 12px 27px;
  font-size: 20px;
}

#donateOpen:hover {
  background-color: rgba(131, 95, 84, 0.5);
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rbga(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(8px);
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  padding: 30px 50px;
  max-width: 100%;
  border-radius: 5px;
  width: 350px;
  height: 390px;
  background-color: white;
  text-align: center;
}

.input {
  width: 80%;
  display: block;
  margin: 15px auto;
  padding: 12px 20px;
}

.input:focus {
  background-color: lightblue;
}

#message {
  font-size: 25px;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  letter-spacing: 5px;
  cursor: pointer;
  padding: 64px;
  background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}
